body {
    width: 1400px;
    margin: 0 auto;
    font-family: "IBM Plex Mono", monospace;
}

.hero-section {
    min-height: 100vh;
    background-image: url('../resources/Rectangle\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.about {
    position: relative;
}

.logo {
    position: absolute;
    top: 27px;
}

.navigation {
    color: #FFF;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
    padding-top: 33px;

    text-align: end;
}

.navigation-link {
    display: inline-block;
    margin-right: 50px;
}

.navigation-link:nth-last-child(1) {
    margin-right: 0;
}

.introduction {
    width: 430px;
    height: 103px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;

    position: absolute;
    top: 334px
}

.introduction-title {
    width: 919px;
    height: 205px;

    color: #1BFF07;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -2.4px;

    position: absolute;
    top: 466px;
}