html {
  scroll-behavior: smooth;
}

body {
  width: 1400px;
  margin: 0 auto;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  background-color: #000;
  margin: 0 auto;
  padding: 150px 125px 10px 125px;
}

.container:first-child {
  min-height: 100vh;
  padding: 0 124px 0 132px;
  background-image: url("../resources/Rectangle\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  position: relative;
}

.container:nth-last-of-type(1) {
  padding: 0;
}

.container:nth-last-child(2) {
  padding: 0;
  padding-top: 0;
}

.about {
  position: relative;
}

.logo {
  position: absolute;
  top: 27px;
}

.navigation {
  color: #fff;
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.54px;
  padding-top: 33px;

  text-align: end;
}

.navigation-links {
  display: inline-block;
  margin-right: 50px;
}

.navigation-links:nth-last-child(1) {
  margin-right: 0;
}

.navigation-link {
  text-decoration: none;
  color: #fff;
}

.navigation-link:hover {
  color: #1bff07;
}

.introduction {
  width: 430px;
  height: 103px;
  flex-shrink: 0;
  color: #fff;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;

  position: absolute;
  top: 334px;
}

.introduction-title {
  max-width: 919px;
  height: 205px;

  color: #1bff07;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -2.4px;

  position: absolute;
  top: 466px;
}

.title {
  color: #fff;
  font-size: 55px;
  line-height: normal;
  letter-spacing: -1.65px;
}

.project {
  width: 1150px;
  height: 550px;
  border-radius: 30px;
  position: relative;
}

.project:nth-last-child(2) {
  margin-bottom: 80px;
}

.metric {
  margin-top: 40px;
  background-image: url("../resources/metric.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nothing {
  background-image: url("../resources/nothing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.toptrip {
  background-image: url("../resources/toptrip.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.project-link {
  padding: 10px 20px;
  border-radius: 100px;
  position: absolute;
  top: 55px;
  left: 50px;
  background-color: #1bff07;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.project-link:hover {
  background: #000;
  border: 1px solid #1bff07;
  color: #1bff07;
  text-align: center;
}

.subtitle {
  position: absolute;
  top: 410px;
  left: 50px;
  color: #fff;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -1.05px;
}

.subtitle-text {
  position: absolute;
  top: 461px;
  left: 50px;
  color: #fff;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
}

.allprojects-btn {
  width: 582px;
  height: 153px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #1bff07;

  color: #000;
  text-align: center;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
  cursor: pointer;
}

.allprojects-btn:hover {
  background: #000;
  border: 1px solid #1bff07;
  color: #1bff07;
  text-align: center;
}

.competencies-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 47px;
}

.competence {
  max-width: 550px;
}

.competence-title {
  color: #1bff07;
  font-family: "IBM Plex Mono";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.05px;
}

.competence-title:before {
  margin-top: 80px;
  margin-bottom: 15px;
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url("../resources/html.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.competence:nth-child(2) .competence-title:before {
  margin-top: 80px;
  margin-bottom: 15px;
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url("../resources/js.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.competence:nth-child(3) .competence-title:before {
  margin-top: 80px;
  margin-bottom: 15px;
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url("../resources/frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.competence:nth-child(4) .competence-title:before {
  margin-top: 80px;
  margin-bottom: 15px;
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url("../resources/adaptive.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.competence-description {
  color: #fff;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}

.tasks {
  margin-bottom: 40px;
}

.tasks:nth-last-child(1) {
  margin-bottom: 0;
}

.tasks-title {
  width: 403px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -1.05px;
}

.tasks-image {
  height: 200px;
  border-radius: 30px;
}

.tasks__text-wrapper {
  border-radius: 30px;
  background: #191c19;
  padding: 40px;

  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.tasks__description-title {
  width: 470px;
  color: #1bff07;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: -1.65px;
}

.tasks__description-text {
  width: 523px;
  color: #fff;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}

.contacts__grey-background-wrapper {
  max-width: 1400px;
  height: 650px;
  padding: 100px 124px 0 132px;
  border-radius: 30px;
  background-color: #191c19;

  position: relative;
}

.contacts-title {
  width: 553px;
  margin-bottom: 60px;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 100% */
  letter-spacing: -1.8px;
}

.contacts__name-input {
  width: 567px;
  height: 60px;
  margin-bottom: 26px;
  padding-left: 40px;
  border-radius: 1000px;
  background: #3b3d3b;

  color: #fff;
  text-align: left;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}

.contacts__email-input {
  width: 567px;
  height: 60px;
  margin-bottom: 60px;
  padding-left: 40px;
  border-radius: 1000px;
  background: #3b3d3b;

  color: #fff;
  text-align: left;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}

.contacts__send-button {
  width: 450px;
  height: 70px;
  border-radius: 10px;
  background: #1bff07;

  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.66px;
  cursor: pointer;
}

.contacts__send-button:hover {
  background: #000;
  border: 1px solid #1bff07;
  color: #1bff07;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.66px;
}

.contacts__image {
  width: 580px;
  height: 715px;

  position: absolute;
  bottom: 4px;
  left: 820px;
}

.footer_white-background-wrapper {
  height: 235px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 76px 124px 0;

  background-color: #fff;
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}

.footer__social-text-wrapper {
  margin-bottom: 66px;
  display: flex;
  justify-content: space-between;
}

.footer__social-links-lists {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer__social-links {
  margin-right: 24px;
}

.footer__social-links:last-child {
  margin-right: 0;
}

.footer__social-link {
  text-decoration: none;
  color: #000;
}

.footer__social-link:hover {
  color: #1bff07;
}

.footer__copyright-policy-wrapper {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  opacity: 0.5;
}

.footer__policy-link {
  text-decoration: none;
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  opacity: 0.5;
}
